    #holder
    {
       vertical-align:middle;
       position:absolute;
       width:600;
       height:600;
    }
    #holder img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    header{
      background-color: rgba(19,23,27,0.8) !important;

    }
    header nav ul#nav li a{
      opacity: 1;
      color: #fff !important;
    }
    header nav ul#nav li a:hover{
      text-shadow: 1px 1px 8px rgba(255,255,255,0.8);
    }
    #features #robot1 h2, #events .row h1{
      background-color: rgba(255,255,255, 0.8);
      padding: 5px 20px;
      border-radius: 5px;
      display: inline-block;
    }
    #photos .row h1{
      background-color: rgba(255,255,255, 0.8);
      padding: 5px 20px;
      border-radius: 5px;
      display: inline-block; 
    }
    .raton_volador {
      position: absolute;
      left: 80px;
      bottom: 50px;
      z-index: 3;
      animation: move 4s infinite ease;
      -webkit-animation: move 4s infinite ease;
    }
    @-webkit-keyframes move{
      0% { bottom: 50px; }
      50% { bottom: 90px; }
      100% { bottom: 50px; }
    }

    @keyframes move{
      0% { bottom: 50px; }
      50% { bottom: 90px; }
      100% { bottom: 50px; }
    }

@media only screen and (max-width:640px) {
    .raton_volador {
      padding-top: 20px;
      display: inline-block;
      position: relative;      
    }
}

.copyright a, .last li a{
 color: #3a8385 !important; 
}
.columns div a{
  color: #3a8385;
}
#events .row p{
  color: #fff;
}
.row h3.plan-title{
  color: #11abb0;
}
.row li a{
  color: #313131;
}


.copyright{
  width: 100%;
}
.copyright-title{
  text-align: center;
  margin-bottom: 60px;
  padding: 20px;
  width: 250px;
  position: relative;
  left: 380px;
  color: white;
  background-color: transparent;
  -webkit-box-shadow: 1px 1px 4px white;
  box-shadow: 1px 1px 4px white;
  border-radius: 10px;
  font-weight: lighter;
  letter-spacing: 10px;
  
}
.copyright-title h1{
  font-size: 40px;
  padding: 20px 20px;
  border-radius: 5px;
  display: inline-block;
 
}
.copyright .copyright-cover{
  text-align: center;
  display: inline-block;
  width: 33%;
}
.copyright .copyright-cover .copyright-name{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 23px;
  margin-top: 5px;
  font-weight: bold;
  margin-left: 120px;
  color: white !important;
  border-radius: 15px;
  background-color: #fff;
  padding: 10px 50px;
  text-align: center;
  position: absolute;
  margin-top: 160px;
}
.aamir-container{
  left: 0px;
  position: absolute;
}

.image0{
  width:100px !important;
  /* position: absolute;
  left: 100px; */
  animation: float_zero 5s infinite ease;
}

.aamir-name{
  color: white;
  position: absolute;
  left: -10px;
  top: 110px;
  font-size: 28px;
  letter-spacing: 8px;
  font-weight: lighter;
}
.aarish-container{
  left: 450px;
  position: absolute;
}
.image1{
  width:100px !important;
  /* position: absolute;
  left: 100px; */
  animation: float_zero 5s infinite ease;
}
.aarish-name{
  color: white;
  position: absolute;
  top: 110px;
  left: 0px;
  font-size: 28px;
  letter-spacing: 8px;
  font-weight: lighter;
}
.zohaib-container{
  position: absolute;
  left: 900px
  
}
.image2{
  width: 100px !important;
  animation: float_zero 5s infinite ease;
}
.zohaib-name{
  color: white;
  position: absolute;
  top:110px;
  left: -10px;
  font-size: 28px;
  letter-spacing: 8px;
  font-weight: lighter;
}
@keyframes float_zero{
  0% { margin-top: 0px; }
  50% { margin-top: -50px; }
}